<a href="https://colab.research.google.com/github/merriekay/CS167Code/blob/main/Day03_Exercises_Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

An example of a markdown cell<br>
Author: <b>Your name here</b><br>
Date: February 4, 2020
# Python and Pandas Exercises

In [ ]:
#selecting columns in dataframes
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
titanic = pd.read_csv('/content/drive/MyDrive/CS167_S21/CS167_datasets/titanic.csv')
titanic.head()

In [ ]:
# what is the data type of titanic?
print(type(titanic))

In [ ]:
# what are the features (column titles) of the titanic dataset?
titanic.columns

In [ ]:
# display only the 'embark_town' column of the titanic data
titanic["embark_town"]

In [ ]:
# what is the data type of the result of the previous cell? 
type(titanic["embark_town"])

In [ ]:
# what is the "shape" of the data frame?
titanic.shape

In [ ]:
# make a subset (call the variable 'subset') of the data that consists of the last 20 rows of the data;
# verify that your subset has 20 rows
subset = titanic[871:]
subset.shape[0]

In [ ]:
# use loc to print out the data for passenger 890 on the titanic dataframe
# use iloc to print out the data for passenger 890 on the subest dataframe
print(titanic.loc[890])
subset.iloc[-1] #-1 grabs the last index, but subset.iloc[19] would also work
subset.iloc[19]

# use a markdown cell; describe the difference between loc and iloc
Loc refers to the original name of the row (in this case the overall index), however, iloc refers to the relative index. 

While referring to the whole dataset, loc and iloc of the same integer will refer to the same row, but as soon as you start using subsets, iloc will use the indices that are relative to your subset, and loc will use the original indexes that were set when the csv file was read into the notebook.

In [ ]:
# create a subset of the data (call the variable 'queenstown_subset') that consists only of passengers with
# a 'embark_town' that is "Queenstown"
# hint: if you get a warning, you may need to explicitly note that you are making a copy of the original data by using 
# the .copy() function
queenstown_subset = titanic[titanic["embark_town"]=='Queenstown']

In [ ]:
# how many passengers are in queenstown_subset?
queenstown_subset.shape[0]

In [ ]:
# what is the average fare for all of those in the queenstown_subset?
queenstown_subset['fare'].mean()

In [ ]:
# what is the average age for all of those in the queenstown_subset?
queenstown_subset['age'].mean()
# do all of the passengers have an age recorded? What is recorded if there is no age?
queenstown_subset['age'].isna()   #we can use this and see where the first NA row is, we see that 5 doesn't have any recorded age.
queenstown_subset['age'].loc[5]   #we can get the value of the age of the peron in row 5 to see that it's recorded as nan

In [ ]:
# What does unique(), mean(), isnull(), and fillna() do? Use a markdown cell to write your answers
# Use the Pandas documentation (https://pandas.pydata.org/pandas-docs/stable/reference/index.html)

#unique()
print(titanic['embark_town'].unique()) #unique() prints the unique values in order or appearance

#mean()
print(queenstown_subset['age'].mean()) #mean() takes the average of a numeric series

#isnull()
print(queenstown_subset['age'].isnull())  #isnull() returns a boolean series which indicates whether or not values are missing

#fillna(): will replace missing values with whatever you'd like.

In [ ]:
# give examples of your use of unique(), mean(), median(), isnull()
#See above.
titanic['deck'].unique()
titanic['age'].mean()
titanic['age'].median()
titanic['deck'].isnull()

In [ ]:
# in the queenstown_subet dataframe
# for each row that does not have an age recorded, replace the NaN value with the calculated average
# hint: don't use a loop; it can be done in 1 line of code using fillna()
queenstown_subset['age'].fillna(queenstown_subset['age'].mean())

In [ ]:
# load in the iris data
iris = pandas.read_csv('irisData.csv')
iris

In [ ]:
# what is the median sepal width of just the Setosas?
sentosas = iris[iris['species'] == 'Iris-setosa']
sentosas['sepal width'].median()

In [ ]:
# for those iris that are classified as versicolor and have 
# a petal-length > 4, what is the average sepal width?
big_petal_versicolors = iris[(iris['species']=='Iris-versicolor')&(iris['petal length']>4)]
big_petal_versicolors['sepal width'].mean()